AndroidSOAP/AndroidSOAP-jaxws-interfaces-example/src/wsdl/PoP-SkinPack-remote.listSkinPacks.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name='ListSkinPacksBeanService' targetNamespace='http://skinpack.pop.javaforum.hu/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://skinpack.pop.javaforum.hu/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://skinpack.pop.javaforum.hu/' version='1.0' xmlns:tns='http://skinpack.pop.javaforum.hu/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='ServiceException' type='tns:ServiceException'/>
   <xs:element name='listSkinPacks' type='tns:listSkinPacks'/>
   <xs:element name='listSkinPacksResponse' type='tns:listSkinPacksResponse'/>
   <xs:complexType name='listSkinPacks'>
    <xs:sequence>
     <xs:element minOccurs='0' name='request' type='tns:listSkinPacksRequest'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='listSkinPacksRequest'>
    <xs:all/>
   </xs:complexType>
   <xs:complexType name='listSkinPacksResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:ListSkinPacksResponseType'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='ListSkinPacksResponseType'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' name='skinPacksList' type='tns:skinPackMetadata'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='skinPackMetadata'>
    <xs:sequence>
     <xs:element name='systemName' type='xs:string'/>
     <xs:element name='fileName' type='xs:string'/>
     <xs:element name='name' type='xs:string'/>
     <xs:element name='version' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='ServiceException'>
    <xs:sequence>
     <xs:element minOccurs='0' name='message' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='ListSkinPacksBean_listSkinPacks'>
  <part element='tns:listSkinPacks' name='listSkinPacks'></part>
 </message>
 <message name='ListSkinPacksBean_listSkinPacksResponse'>
  <part element='tns:listSkinPacksResponse' name='listSkinPacksResponse'></part>
 </message>
 <message name='ServiceException'>
  <part element='tns:ServiceException' name='ServiceException'></part>
 </message>
 <portType name='ListSkinPacksBean'>
  <operation name='listSkinPacks' parameterOrder='listSkinPacks'>
   <input message='tns:ListSkinPacksBean_listSkinPacks'></input>
   <output message='tns:ListSkinPacksBean_listSkinPacksResponse'></output>
   <fault message='tns:ServiceException' name='ServiceException'></fault>
  </operation>
 </portType>
 <binding name='ListSkinPacksBeanBinding' type='tns:ListSkinPacksBean'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='listSkinPacks'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='ServiceException'>
    <soap:fault name='ServiceException' use='literal'/>
   </fault>
  </operation>
 </binding>
 <service name='ListSkinPacksBeanService'>
  <port binding='tns:ListSkinPacksBeanBinding' name='ListSkinPacksBeanPort'>
   <soap:address location='https://services.power.of.planets.hu/PoP-SkinPack-remote/listSkinPacks'/>
  </port>
 </service>
</definitions>